﻿html {
  font-size: 16px;
}

table, th, td {
    border: 2px solid black;
    table-layout: fixed;
    word-wrap: break-word;
}

td {
    position:relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    background-color: whitesmoke;
}

.image{
    width: 100%;
    height: 100%;
}

.dark{
    background-color: black;
}

.x {
    position: absolute;
    z-index: 2;
    top:10%;
    left:19%;
    width: 80px;
    height: 80px; 
    opacity: 0.5;
}